* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343238;
}

.colorContainer {
    display: flex;
    gap: 20px;
}

.colorBox {
    width: 200px;
    height: 200px;
}

#js-blueBox {
    background-color: blue;
}

#js-redBox {
    background-color: red;
}

#js-greenBox {
    background-color: green;
}

#js-yellowBox {
    background-color: yellow;
}
